@media only screen 
  and (min-device-width: 360px) 
  and (max-device-width: 740px) 
  and (-webkit-min-device-pixel-ratio: 4)
  and (orientation: portrait) { 

/*3D*/
.head1 
{
    text-align: center; 
    margin: 10vh 0 7vh; 
    font-size: 12vh;
    color: #ffffff;
    transition: 0.8s ease;
} 
.con3d1
{
    width: 100%;
    display: block;
    float: left;
}
.columnhead1
{
    width: 100%;
    display: block;
    float: left;
    background-color: #792dcb;
}
.text3d1
{
    text-align: center; 
    width: 80%;
    border-bottom: 0.4vh solid #792dcb; 
    line-height: 0em;
    margin: 8vh 0 6vh; 
    font-size: 4vh;
    color: #792dcb;
    transition: 0.8s ease;
} 
 
.text3d1 span 
{ 
     background:#ffffff; 
     padding: 0vh 0.5vw;
}
.column3d1
{
    width: 100%;
    display: block;
    float: left;
}
.column3d1:hover .text3d1
{
    transition: 0.8s ease;
    width: 80%;
}
.img3d1
{
    width: 70vw;

}
.text3d2
{
    font-size: 3vh;
    color: #5e5e5e;
    padding-left: 15vw;
    padding-right: 15vw;
}
.video
{
    width: 70%;
    height: 20vh;
    margin-top: 2vh;
}

/* Slideshow container */
.mySlides1, .mySlides2 {display: none}
.slideshow-container {
    width: 70vw;
    position: relative;
    margin: auto;
    margin-bottom: 10vh;
  }
  
  /* Next & previous buttons */
  .prev{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 1.6vh 0.8vw;
    margin-top: -2.2vh;
    color: white;
    font-weight: bold;
    font-size: 1.8vh;
    transition: 0.6s ease;
    border-radius: 0 10px 10px 0;
    user-select: none;
    left: 0;
  }
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 1.6vh 0.8vw;
    margin-top: -2.2vh;
    color: white;
    font-weight: bold;
    font-size: 1.8vh;
    transition: 0.6s ease;
    border-radius: 10px 0 0 10px;
    user-select: none;
    right: 0;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 1.5vh;
    padding: 0.8vh 0.6vw;
    position: absolute;
    bottom: 0.8vh;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 1.2vh;
    padding: 0.8vh 0.6vw;
    position: absolute;
    top: 0;
    right: 0;
  }

  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

/*3D*/

}