/*navigator START*/
ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    overflow: hidden;
    border-bottom: 2px solid;
    border-color: #792dcb;
    box-shadow: 0px 0.2px 5px #792dcb;
    position: fixed;
    width: 100%;
    top: 0vh;
    z-index: 1;
}
li
{
    float: left;
}
li.img
{
    width: 6.3vw;
}
img.navi
{
    width: 80%;
}
li a, .dropbutton
{
    display: inline-block;
    color:#792dcb;
    text-align: center;
    padding: 2vh 1vw;
    text-decoration: none;
    z-index: 1;
    font-size: 2vh;
    transition: ease-in-out 0.3s;
}
li a.home
{
    display: inline-block;
    color:#792dcb;
    text-align: center;
    padding: 2vh 1vw;
    text-decoration: none;
    z-index: 1;
    font-size: 2vh;
    margin-left: 60vw;
}
li a.contact
{
    display: inline-block;
    color:#792dcb;
    text-align: center;
    padding: 2vh 1vw;
    text-decoration: none;
    z-index: 1;
    font-size: 2vh;
    margin-left: 6vw;
}
li a.iconfb
{
    margin-left: 3vw;
}
li a.iconfb:hover
{
    background-color: #3a559f;
    color: #ffffff;
}
li a.iconig
{
    margin-left: 0;
}
li a.iconig:hover
{
    background-color: #e83940;
    color: #ffffff;
}
li a.iconline
{
    margin-left: 0;
}
li a.iconline:hover
{
    background-color: #45c505;
    color: #ffffff;
}
.dropsub
{ 
    z-index: -1;
    display: inline-block;
    color: #ffffff;
    background-color: #792dcb;
    text-align: left;
    padding: 1.5vh 1.5vw;
    text-decoration: none;
    width: 10vw;
    font-size: 1.8vh;
}
li a:hover:not(.img,.iconfb,.iconig,.iconline), .dropbutton:hover
{
    background-color: #792dcb;
    color: #ffffff;
    transition: ease-in-out 0.3s;
}
li a.dropsub:hover
{
    background-color: #ffffff;
    color: #792dcb;
}
.sub-menu-parent 
{ 
    display: inline-block;
    position: fixed;
}
.sub-menu 
{ 
visibility: hidden; /* hides sub-menu */
opacity: 0;
position: absolute;
top: 100%;
width: 10vw;
z-index: 1;
transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
background-color: #792dcb;
box-shadow: none;
}
.sub-menu-parent:focus .sub-menu,
.sub-menu-parent:focus-within .sub-menu,
.sub-menu-parent:hover .sub-menu 
{
visibility: visible; /* shows sub-menu */
opacity: 1;
z-index: 1;
transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
}
.sub-menu-parent:hover .dropbutton
{
    background-color: #792dcb;
    color: #ffffff;
}
li a.img
{
    display: block;
    text-align: center;
    padding: 0px;
    text-decoration: none;
}
.iconnavi
{
    display: inline-block;
    margin: 0;
    font-size: 1.5vh;
}
/*navigator END*/

/*Photo*/
.head1 
{
    text-align: center; 
    margin: 10vh 0 7vh; 
    font-size: 12vh;
    color: #ffffff;
    transition: 0.8s ease;
} 
.conphoto1
{
    width: 100%;
    display: block;
    float: left;
}
.columnhead1
{
    width: 100%;
    display: block;
    float: left;
    background-color: #792dcb;
}
.textphoto1
{
    text-align: center; 
    width: 50%;
    border-bottom: 0.4vh solid #792dcb; 
    line-height: 0.1em;
    margin: 8vh 0 6vh; 
    font-size: 8vh;
    color: #792dcb;
    transition: 0.8s ease;
} 
 
.textphoto1 span 
{ 
     background:#ffffff; 
     padding: 0vh 0.5vw;
}
.columnphoto1
{
    width: 100%;
    display: block;
    float: left;
    margin-bottom: 10vh;
}
.columnphoto1:hover .textphoto1
{
    transition: 0.8s ease;
    width: 80%;
}
.imgphoto1
{
    width: 50vw;
}
.textphoto2
{
    font-size: 4vh;
    color: #5e5e5e;
    padding-left: 15vw;
    padding-right: 15vw;
}

.item1 { grid-area: col1; }
.item2 { grid-area: col2; }
.item3 { grid-area: col3; }
.item4 { grid-area: col4; }
.item5 { grid-area: col5; }
.item6 { grid-area: col6; }
.item7 { grid-area: col7; }
.item8 { grid-area: col8; }
.item9 { grid-area: col9; }

.grid-container
 {
    display: grid;
    grid-template: 
    'col1 col2 col3'
    'col4 col5 col6'
    'col7 col8 col9';
    grid-gap: 1.5vh 0.75vw;
    padding: 1vh 0.5vw;
    margin-left: 20vw;
    margin-right: 20vw;
  }
  .gridphoto
  {
    width: 100%;
    border-radius: 20px;
    transition: 0.6s ease;
    cursor: pointer;
  }
  .gridphoto:hover
  {
    transition: 0.6s ease;
    transform: scale(1.025);
    box-shadow: 0px 0px 20px #792dcb;
  }
  .gridphoto2
  {
    width: 100%;
    border-radius: 20px;
    transition: 0.6s ease;
    cursor: pointer;
    margin-top: 10vh;
  }
  .gridphoto2:hover
  {
    transition: 0.6s ease;
    transform: scale(1.025);
    box-shadow: 0px 0px 20px #792dcb;
  }

  /* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10vh;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.836);
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 100%;
    max-width: 60vw;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 1vh;
    right: 2.5vw;
    font-size: 5vh;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  .mySlides {
    display: none;
  }
  .modalimg
  {
      width: 100%;
  }
  .modalimg2
  {
      width: 45%;
  }
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1s;
  }
  
  @keyframes fade {
    from {opacity: 0} 
    to {opacity: 1}
  }

.photo1 { grid-area: pho1; }
.photo2 { grid-area: pho2; }
.photo3 { grid-area: pho3; }
.photo4 { grid-area: pho4; }
.photo5 { grid-area: pho5; }


.grid-container2
 {
    display: grid;
    grid-template: 
    'pho1 pho2 pho5'
    'pho1 pho3 pho5'
    'pho1 pho4 pho5';
    grid-gap: 1.5vh 0.75vw;
    padding: 1vh 0.5vw;
    margin-left: 20vw;
    margin-right: 20vw;
  }
/*Photo*/

/*Footer START*/
.imgfoot
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footcon
{
    display: block;
    margin-top: 10vh;
    width: 100%;
    height: 30vh;
    background-color: #252525;
    float: left;
}
.foot1
{
    width: 50%;
    display: block;
    height: 100%;
    background-color: #252525;
    float: left;
    padding: 6vh 3vw;
    margin: 0;
}
.foot2
{
    width: 50%;
    display: block;
    height: 85%;
    background-color: #252525;
    float: left;
    padding-top: 4vh;
    margin: 0;
}
.foot3
{
    width: 100%;
    height: 15%;
    display: block;
    background-color: #1f1f1f;
    float: left;
    margin: 0;
}
.foot4
{
    width: 60%;
    display: block;
    float: left;
    margin: 0;
    font-size: 2vh;
    color: white;
    margin-top: 2vh;
    line-height: 4vh;
}
.iconfoot1
{
    font: 1vh;
    color: #ffffff;
    display: inline-block;
    margin-left: 15vw;
}
.textfoot1
{
    font-size: 3.5vh;
    color: #ffffff;
    margin: 0;
    margin-left: 15vw;
    display: block;
}
.textfoot2
{
    font-size: 2.3vh;
    color: #ffffff;
    margin: 0;
    display: inline-block;
    margin-left: 0.5vw;
    text-decoration: none;
}
.textfoot3
{
    font-size: 2.3vh;
    color: #ffffff;
    margin: 0;
    display: inline-block;
    margin-left: 0.5vw;
    text-decoration: none transparent;
    transition: 0.8s ease;
}
.textfoot4
{
    font-size: 2.3vh;
    color: #ffffff;
    margin: 0;
    display: inline-block;
    margin-left: 0.5vw;
    text-decoration: none transparent;
}
.textfoot5
{
    font-size: 2vh;
    color: #ffffff;
    margin-left: 3vw;
    top: 50%;
}
.foot5
{
    width: 40%;
    display: block;
    float: left;
    margin: 0;
    font-size: 2vh;
    color: white;
    margin-top: 2vh;
    line-height: 4vh;
}
.iconfoot2
{
    font: 1vh;
    color: #ffffff;
    display: inline-block;
    margin-left: 0.5vw;
}
.textfoot3:hover
{
    text-decoration:underline white;
    transition: 0.8s ease;
}
.textfoot4:hover
{
    text-decoration:underline white;
    transition: 0.8s ease;
}
/*Footer END*/